<section class="pb-5">
    <div class="container-lg">

        <div class="row">
            <div class="col-md-12">

                <div class="section-header d-flex flex-wrap justify-content-between my-4">

                    <h2 class="section-title">Best selling products</h2>

                    <div class="d-flex align-items-center">
                        <a href="#" class="btn btn-primary rounded-1">View All</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div
                    class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">

                    <div class="col" *ngFor="let item of products">
                        <div class="product-item">
                            <figure>
                                <a href="{{item.seName}}" title="Product Title">
                                    <img src="https://localhost:7049/{{item.imageUrl}}" alt="Product Thumbnail"
                                        class="tab-image">
                                </a>
                            </figure>
                            <div class="d-flex flex-column text-center">
                                <h3 class="fs-6 fw-normal">{{item.name}}</h3>
                                <!-- <div>
                                    <span class="rating">
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-half"></use>
                                        </svg>
                                    </span>
                                    <span>(222)</span>
                                </div> -->
                                <!-- Dynamic Rating -->

                                <svg style="display: none;">
                                    <symbol id="star-full" viewBox="0 0 24 24" fill="currentColor">
                                        <path
                                            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                        </path>
                                    </symbol>
                                    <symbol id="star-half" viewBox="0 0 24 24" fill="currentColor">
                                        <path
                                            d="M22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73-1.63 7.02L12 17.27V2z">
                                        </path>
                                    </symbol>
                                    <symbol id="star-empty" viewBox="0 0 24 24" fill="currentColor">
                                        <path
                                            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                                            fill="none" stroke="currentColor"></path>
                                    </symbol>
                                </svg>

                                <div>
                                    <span class="rating">
                                        <svg *ngFor="let star of generateStars(item.rating.rate)" width="18" height="18"
                                            [ngClass]="{'text-warning': star.type === 'full' || star.type === 'half', 'text-muted': star.type === 'empty'}">
                                            <use
                                                [attr.xlink:href]="star.type === 'full' ? '#star-full' : star.type === 'half' ? '#star-half' : '#star-empty'">
                                            </use>
                                        </svg>
                                    </span>
                                    <span>({{ item.rating.count }})</span>
                                </div>
                                <!-- <div>
                                    <span class="rating">
                                        <svg *ngFor="let star of generateStars(item.rating.rate)" width="18" height="18"
                                            [ngClass]="{'text-warning': star.type !== 'empty', 'text-muted': star.type === 'empty'}">
                                            <use
                                                [attr.xlink:href]="star.type === 'full' ? '#star-full' : star.type === 'half' ? '#star-half' : '#star-empty'">
                                            </use>
                                        </svg>
                                    </span>
                                    <span>({{ item.rating.count }})</span>
                                </div> -->

                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <del>${{ calculateOriginalPrice(item.price, 10) | number: '1.2-2' }}</del>
                                    <span class="text-dark fw-semibold">${{item.price}}</span>
                                    <span
                                        class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10%
                                        OFF</span>
                                </div>
                                <div class="button-area p-3 pt-0">
                                    <div class="row g-1 mt-2">
                                        <div class="col-3"><input type="number" name="quantity"
                                                class="form-control border-dark-subtle input-number quantity" value="1">
                                        </div>
                                        <div class="col-7"><a href="#"
                                                class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#cart"></use>
                                                </svg> Add to Cart</a></div>
                                        <div class="col-2"><a href="#"
                                                class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#heart"></use>
                                                </svg></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 
                    <div class="col">
                        <div class="product-item">
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/product-thumb-1.png" alt="Product Thumbnail" class="tab-image">
                                </a>
                            </figure>
                            <div class="d-flex flex-column text-center">
                                <h3 class="fs-6 fw-normal">Whole Wheat Sandwich Bread</h3>
                                <div>
                                    <span class="rating">
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-half"></use>
                                        </svg>
                                    </span>
                                    <span>(222)</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <del>$24.00</del>
                                    <span class="text-dark fw-semibold">$18.00</span>
                                    <span
                                        class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10%
                                        OFF</span>
                                </div>
                                <div class="button-area p-3 pt-0">
                                    <div class="row g-1 mt-2">
                                        <div class="col-3"><input type="number" name="quantity"
                                                class="form-control border-dark-subtle input-number quantity" value="1">
                                        </div>
                                        <div class="col-7"><a href="#"
                                                class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#cart"></use>
                                                </svg> Add to Cart</a></div>
                                        <div class="col-2"><a href="#"
                                                class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#heart"></use>
                                                </svg></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="product-item">
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/product-thumb-2.png" alt="Product Thumbnail" class="tab-image">
                                </a>
                            </figure>
                            <div class="d-flex flex-column text-center">
                                <h3 class="fs-6 fw-normal">Whole Grain Oatmeal</h3>
                                <div>
                                    <span class="rating">
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-half"></use>
                                        </svg>
                                    </span>
                                    <span>(41)</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <del>$54.00</del>
                                    <span class="text-dark fw-semibold">$50.00</span>
                                    <span
                                        class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10%
                                        OFF</span>
                                </div>
                                <div class="button-area p-3 pt-0">
                                    <div class="row g-1 mt-2">
                                        <div class="col-3"><input type="number" name="quantity"
                                                class="form-control border-dark-subtle input-number quantity" value="1">
                                        </div>
                                        <div class="col-7"><a href="#"
                                                class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#cart"></use>
                                                </svg> Add to Cart</a></div>
                                        <div class="col-2"><a href="#"
                                                class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#heart"></use>
                                                </svg></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="product-item">
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/product-thumb-3.png" alt="Product Thumbnail" class="tab-image">
                                </a>
                            </figure>
                            <div class="d-flex flex-column text-center">
                                <h3 class="fs-6 fw-normal">Sharp Cheddar Cheese Block</h3>
                                <div>
                                    <span class="rating">
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-half"></use>
                                        </svg>
                                    </span>
                                    <span>(32)</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <del>$14.00</del>
                                    <span class="text-dark fw-semibold">$12.00</span>
                                    <span
                                        class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10%
                                        OFF</span>
                                </div>
                                <div class="button-area p-3 pt-0">
                                    <div class="row g-1 mt-2">
                                        <div class="col-3"><input type="number" name="quantity"
                                                class="form-control border-dark-subtle input-number quantity" value="1">
                                        </div>
                                        <div class="col-7"><a href="#"
                                                class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#cart"></use>
                                                </svg> Add to Cart</a></div>
                                        <div class="col-2"><a href="#"
                                                class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#heart"></use>
                                                </svg></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="product-item">
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/product-thumb-4.png" alt="Product Thumbnail" class="tab-image">
                                </a>
                            </figure>
                            <div class="d-flex flex-column text-center">
                                <h3 class="fs-6 fw-normal">Organic Baby Spinach</h3>
                                <div>
                                    <span class="rating">
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-half"></use>
                                        </svg>
                                    </span>
                                    <span>(222)</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <del>$24.00</del>
                                    <span class="text-dark fw-semibold">$18.00</span>
                                    <span
                                        class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10%
                                        OFF</span>
                                </div>
                                <div class="button-area p-3 pt-0">
                                    <div class="row g-1 mt-2">
                                        <div class="col-3"><input type="number" name="quantity"
                                                class="form-control border-dark-subtle input-number quantity" value="1">
                                        </div>
                                        <div class="col-7"><a href="#"
                                                class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#cart"></use>
                                                </svg> Add to Cart</a></div>
                                        <div class="col-2"><a href="#"
                                                class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#heart"></use>
                                                </svg></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="product-item">
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/product-thumb-5.png" alt="Product Thumbnail" class="tab-image">
                                </a>
                            </figure>
                            <div class="d-flex flex-column text-center">
                                <h3 class="fs-6 fw-normal">Organic Spinach Leaves (Fresh Produce)</h3>
                                <div>
                                    <span class="rating">
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-half"></use>
                                        </svg>
                                    </span>
                                    <span>(222)</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <del>$24.00</del>
                                    <span class="text-dark fw-semibold">$18.00</span>
                                    <span
                                        class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10%
                                        OFF</span>
                                </div>
                                <div class="button-area p-3 pt-0">
                                    <div class="row g-1 mt-2">
                                        <div class="col-3"><input type="number" name="quantity"
                                                class="form-control border-dark-subtle input-number quantity" value="1">
                                        </div>
                                        <div class="col-7"><a href="#"
                                                class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#cart"></use>
                                                </svg> Add to Cart</a></div>
                                        <div class="col-2"><a href="#"
                                                class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#heart"></use>
                                                </svg></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="product-item">
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/product-thumb-6.png" alt="Product Thumbnail" class="tab-image">
                                </a>
                            </figure>
                            <div class="d-flex flex-column text-center">
                                <h3 class="fs-6 fw-normal">Fresh Salmon</h3>
                                <div>
                                    <span class="rating">
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-half"></use>
                                        </svg>
                                    </span>
                                    <span>(222)</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <del>$24.00</del>
                                    <span class="text-dark fw-semibold">$18.00</span>
                                    <span
                                        class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10%
                                        OFF</span>
                                </div>
                                <div class="button-area p-3 pt-0">
                                    <div class="row g-1 mt-2">
                                        <div class="col-3"><input type="number" name="quantity"
                                                class="form-control border-dark-subtle input-number quantity" value="1">
                                        </div>
                                        <div class="col-7"><a href="#"
                                                class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#cart"></use>
                                                </svg> Add to Cart</a></div>
                                        <div class="col-2"><a href="#"
                                                class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#heart"></use>
                                                </svg></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="product-item">
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/product-thumb-7.png" alt="Product Thumbnail" class="tab-image">
                                </a>
                            </figure>
                            <div class="d-flex flex-column text-center">
                                <h3 class="fs-6 fw-normal">Imported Italian Spaghetti Pasta</h3>
                                <div>
                                    <span class="rating">
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-half"></use>
                                        </svg>
                                    </span>
                                    <span>(222)</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <del>$24.00</del>
                                    <span class="text-dark fw-semibold">$18.00</span>
                                    <span
                                        class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10%
                                        OFF</span>
                                </div>
                                <div class="button-area p-3 pt-0">
                                    <div class="row g-1 mt-2">
                                        <div class="col-3"><input type="number" name="quantity"
                                                class="form-control border-dark-subtle input-number quantity" value="1">
                                        </div>
                                        <div class="col-7"><a href="#"
                                                class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#cart"></use>
                                                </svg> Add to Cart</a></div>
                                        <div class="col-2"><a href="#"
                                                class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#heart"></use>
                                                </svg></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="product-item">
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/product-thumb-8.png" alt="Product Thumbnail" class="tab-image">
                                </a>
                            </figure>
                            <div class="d-flex flex-column text-center">
                                <h3 class="fs-6 fw-normal">Granny Smith Apples</h3>
                                <div>
                                    <span class="rating">
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-half"></use>
                                        </svg>
                                    </span>
                                    <span>(222)</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <del>$24.00</del>
                                    <span class="text-dark fw-semibold">$18.00</span>
                                    <span
                                        class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10%
                                        OFF</span>
                                </div>
                                <div class="button-area p-3 pt-0">
                                    <div class="row g-1 mt-2">
                                        <div class="col-3"><input type="number" name="quantity"
                                                class="form-control border-dark-subtle input-number quantity" value="1">
                                        </div>
                                        <div class="col-7"><a href="#"
                                                class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#cart"></use>
                                                </svg> Add to Cart</a></div>
                                        <div class="col-2"><a href="#"
                                                class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#heart"></use>
                                                </svg></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="product-item">
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/product-thumb-9.png" alt="Product Thumbnail" class="tab-image">
                                </a>
                            </figure>
                            <div class="d-flex flex-column text-center">
                                <h3 class="fs-6 fw-normal">Organic 2% Reduced Fat Milk </h3>
                                <div>
                                    <span class="rating">
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-half"></use>
                                        </svg>
                                    </span>
                                    <span>(222)</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <del>$24.00</del>
                                    <span class="text-dark fw-semibold">$18.00</span>
                                    <span
                                        class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10%
                                        OFF</span>
                                </div>
                                <div class="button-area p-3 pt-0">
                                    <div class="row g-1 mt-2">
                                        <div class="col-3"><input type="number" name="quantity"
                                                class="form-control border-dark-subtle input-number quantity" value="1">
                                        </div>
                                        <div class="col-7"><a href="#"
                                                class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#cart"></use>
                                                </svg> Add to Cart</a></div>
                                        <div class="col-2"><a href="#"
                                                class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#heart"></use>
                                                </svg></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="product-item">
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/product-thumb-10.png" alt="Product Thumbnail" class="tab-image">
                                </a>
                            </figure>
                            <div class="d-flex flex-column text-center">
                                <h3 class="fs-6 fw-normal">Greek Style Plain Yogurt</h3>
                                <div>
                                    <span class="rating">
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-full"></use>
                                        </svg>
                                        <svg width="18" height="18" class="text-warning">
                                            <use xlink:href="#star-half"></use>
                                        </svg>
                                    </span>
                                    <span>(222)</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <del>$24.00</del>
                                    <span class="text-dark fw-semibold">$18.00</span>
                                    <span
                                        class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10%
                                        OFF</span>
                                </div>
                                <div class="button-area p-3 pt-0">
                                    <div class="row g-1 mt-2">
                                        <div class="col-3"><input type="number" name="quantity"
                                                class="form-control border-dark-subtle input-number quantity" value="1">
                                        </div>
                                        <div class="col-7"><a href="#"
                                                class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#cart"></use>
                                                </svg> Add to Cart</a></div>
                                        <div class="col-2"><a href="#"
                                                class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18"
                                                    height="18">
                                                    <use xlink:href="#heart"></use>
                                                </svg></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->


                </div>
            </div>
        </div>
    </div>
</section>